[submodule "UR_Driver"]
	path = UR_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver.git
	branch = kilted
[submodule "UR_Description"]
	path = UR_Description
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Description.git
[submodule "Mecademic"]
	path = Mecademic
	url = https://github.com/maximeriera/mecademic-ros.git
[submodule "Omron_AMR"]
	path = Omron_AMR
	url = https://github.com/OmronAPAC/Omron_AMR_ROS2.git
